openapi: 3.2.0
info:
  title: Sentry Integrations Data Forwarders API
  description: The Integrations API provides endpoints for managing third-party integrations within Sentry organizations, including creating and managing data forwarders, handling external user and team records, and controlling integration configurations.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Data Forwarders
  description: Manage data forwarding configurations
paths:
  /organizations/{organization_id_or_slug}/data-forwarders/:
    get:
      operationId: listDataForwarders
      summary: Sentry Retrieve data forwarders for an organization
      description: Returns a list of data forwarders configured for the organization.
      tags:
      - Data Forwarders
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      responses:
        '200':
          description: A list of data forwarders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataForwarder'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
    post:
      operationId: createDataForwarder
      summary: Sentry Create a data forwarder for an organization
      description: Creates a new data forwarder for the organization.
      tags:
      - Data Forwarders
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the data forwarder.
      responses:
        '201':
          description: Data forwarder created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataForwarder'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /organizations/{organization_id_or_slug}/data-forwarders/{forwarder_id}/:
    put:
      operationId: updateDataForwarder
      summary: Sentry Update a data forwarder for an organization
      description: Updates an existing data forwarder.
      tags:
      - Data Forwarders
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: forwarder_id
        in: path
        required: true
        description: The ID of the data forwarder.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Data forwarder updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataForwarder'
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
    delete:
      operationId: deleteDataForwarder
      summary: Sentry Delete a data forwarder for an organization
      description: Deletes a data forwarder.
      tags:
      - Data Forwarders
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: forwarder_id
        in: path
        required: true
        description: The ID of the data forwarder.
        schema:
          type: string
      responses:
        '204':
          description: Data forwarder deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
components:
  schemas:
    DataForwarder:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        dateCreated:
          type: string
          format: date-time
      required:
      - id
      - name
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
