openapi: 3.2.0
info:
  title: Sentry Releases Deploys API
  description: The Releases API provides endpoints for managing software releases in Sentry, including creating and managing releases, uploading release files, listing commits, managing deployments, and retrieving release health session statistics.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Deploys
  description: Manage deployments of releases
paths:
  /organizations/{organization_id_or_slug}/releases/{version}/deploys/:
    get:
      operationId: listReleaseDeploys
      summary: Sentry List a release's deploys
      description: Returns a list of deploys for a given release.
      tags:
      - Deploys
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/Version'
      responses:
        '200':
          description: A list of deploys.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deploy'
        '401':
          description: Unauthorized.
        '404':
          description: Release not found.
    post:
      operationId: createReleaseDeploy
      summary: Sentry Create a deploy
      description: Creates a deploy for a given release.
      tags:
      - Deploys
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - environment
              properties:
                environment:
                  type: string
                  description: The environment to deploy to (e.g., production, staging).
                url:
                  type: string
                  description: An optional URL associated with this deploy.
                dateStarted:
                  type: string
                  format: date-time
                dateFinished:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Deploy created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deploy'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '404':
          description: Release not found.
components:
  parameters:
    Version:
      name: version
      in: path
      required: true
      description: The version identifier of the release.
      schema:
        type: string
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  schemas:
    Deploy:
      type: object
      properties:
        id:
          type: string
        environment:
          type: string
        name:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        dateStarted:
          type: string
          format: date-time
          nullable: true
        dateFinished:
          type: string
          format: date-time
          nullable: true
      required:
      - id
      - environment
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
