openapi: 3.1.0
info:
  title: Sentry Alerts Interactions API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Interactions
  description: View user interactions within replays
paths:
  /organizations/{organization_id_or_slug}/replays/selectors/:
    get:
      operationId: listOrganizationSelectors
      summary: Sentry List an organization's selectors
      description: Returns a list of DOM selectors tracked across organization replays.
      tags:
      - Interactions
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: project
        in: query
        description: Project IDs to filter by.
        schema:
          type: array
          items:
            type: integer
      - name: statsPeriod
        in: query
        description: Stats period.
        schema:
          type: string
      responses:
        '200':
          description: A list of selectors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dom_element:
                          type: string
                        count:
                          type: integer
                        dead_click_count:
                          type: integer
                        rage_click_count:
                          type: integer
        '401':
          description: Unauthorized.
  /organizations/{organization_id_or_slug}/replays/{replay_id}/clicks/:
    get:
      operationId: listClickedNodes
      summary: Sentry List clicked nodes
      description: Returns a list of clicked DOM nodes within a replay.
      tags:
      - Interactions
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ReplayId'
      responses:
        '200':
          description: A list of clicked nodes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        node_id:
                          type: integer
                        timestamp:
                          type: string
                          format: date-time
                        element:
                          type: object
                          properties:
                            tag:
                              type: string
                            id:
                              type: string
                            class:
                              type: array
                              items:
                                type: string
                            text:
                              type: string
        '401':
          description: Unauthorized.
        '404':
          description: Replay not found.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    ReplayId:
      name: replay_id
      in: path
      required: true
      description: The ID of the replay.
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
