openapi: 3.1.0
info:
  title: Sentry API
  description: >-
    The Sentry API provides programmatic access to Sentry's error tracking,
    performance monitoring, and organizational data. It allows developers to
    manage projects, issues, releases, and more.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
  license:
    name: BSD 3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
servers:
  - url: https://sentry.io/api/0
    description: Sentry Production API
security:
  - BearerAuth: []
tags:
  - name: Organizations
    description: Manage Sentry organizations
  - name: Projects
    description: Manage projects within organizations
  - name: Teams
    description: Manage teams within organizations
  - name: Issues
    description: Manage error issues
  - name: Events
    description: Access error and transaction events
  - name: Releases
    description: Manage software releases
  - name: Alerts
    description: Manage alert rules and notifications
paths:
  /organizations/:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: >-
        Returns a list of organizations available to the authenticated session.
        This is particularly useful for tokens with access to multiple
        organizations.
      tags:
        - Organizations
      parameters:
        - name: cursor
          in: query
          description: A pointer to the last object fetched and its sort order for pagination.
          schema:
            type: string
      responses:
        '200':
          description: A list of organizations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /organizations/{organization_id_or_slug}/:
    get:
      operationId: retrieveOrganization
      summary: Retrieve an organization
      description: Returns details for a specific organization identified by slug.
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
      responses:
        '200':
          description: Organization details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
    put:
      operationId: updateOrganization
      summary: Update an organization
      description: Updates various attributes and configurable settings for the given organization.
      tags:
        - Organizations
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The human-readable name of the organization.
                slug:
                  type: string
                  description: The unique URL slug for this organization.
      responses:
        '200':
          description: Organization updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
  /organizations/{organization_id_or_slug}/projects/:
    get:
      operationId: listOrganizationProjects
      summary: List an organization's projects
      description: Returns a list of projects bound to an organization.
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      responses:
        '200':
          description: A list of projects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Organization not found.
  /organizations/{organization_id_or_slug}/issues/:
    get:
      operationId: listOrganizationIssues
      summary: List an organization's issues
      description: Returns a list of issues bound to an organization including optional search and filter parameters.
      tags:
        - Issues
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - name: query
          in: query
          description: An optional Sentry structured search query.
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      responses:
        '200':
          description: A list of issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/:
    get:
      operationId: retrieveProject
      summary: Retrieve a project
      description: Returns details for a specific project.
      tags:
        - Projects
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - $ref: '#/components/parameters/ProjectIdOrSlug'
      responses:
        '200':
          description: Project details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Project not found.
  /issues/{issue_id}/:
    get:
      operationId: retrieveIssue
      summary: Retrieve an issue
      description: Returns details for a specific issue.
      tags:
        - Issues
      parameters:
        - $ref: '#/components/parameters/IssueId'
      responses:
        '200':
          description: Issue details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
  /organizations/{organization_id_or_slug}/releases/:
    get:
      operationId: listOrganizationReleases
      summary: List an organization's releases
      description: Returns a list of releases for the given organization.
      tags:
        - Releases
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - name: query
          in: query
          description: A search query to filter releases.
          schema:
            type: string
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      responses:
        '200':
          description: A list of releases.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Release'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /organizations/{organization_id_or_slug}/teams/:
    get:
      operationId: listOrganizationTeams
      summary: List an organization's teams
      description: Returns a list of teams bound to an organization.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - name: cursor
          in: query
          description: Pagination cursor.
          schema:
            type: string
      responses:
        '200':
          description: A list of teams.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: >-
        Authentication token. Create auth tokens in Sentry via Settings > Auth
        Tokens or using the API.
    DSN:
      type: apiKey
      in: header
      name: X-Sentry-Auth
      description: DSN-based authentication for event submission.
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    IssueId:
      name: issue_id
      in: path
      required: true
      description: The ID of the issue.
      schema:
        type: string
    TeamIdOrSlug:
      name: team_id_or_slug
      in: path
      required: true
      description: The ID or slug of the team.
      schema:
        type: string
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the organization.
        slug:
          type: string
          description: The URL-friendly slug of the organization.
        name:
          type: string
          description: The human-readable name of the organization.
        dateCreated:
          type: string
          format: date-time
          description: When the organization was created.
        status:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        isEarlyAdopter:
          type: boolean
          description: Whether the organization is an early adopter.
        avatar:
          type: object
          properties:
            avatarType:
              type: string
            avatarUuid:
              type: string
              nullable: true
      required:
        - id
        - slug
        - name
    Project:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the project.
        slug:
          type: string
          description: The URL-friendly slug of the project.
        name:
          type: string
          description: The human-readable name of the project.
        platform:
          type: string
          nullable: true
          description: The platform identifier (e.g., python, javascript).
        dateCreated:
          type: string
          format: date-time
          description: When the project was created.
        isBookmarked:
          type: boolean
        isMember:
          type: boolean
        features:
          type: array
          items:
            type: string
        firstEvent:
          type: string
          format: date-time
          nullable: true
        firstTransactionEvent:
          type: boolean
        hasAccess:
          type: boolean
        organization:
          $ref: '#/components/schemas/Organization'
      required:
        - id
        - slug
        - name
    Team:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the team.
        slug:
          type: string
          description: The URL-friendly slug of the team.
        name:
          type: string
          description: The human-readable name of the team.
        dateCreated:
          type: string
          format: date-time
        isMember:
          type: boolean
        memberCount:
          type: integer
        avatar:
          type: object
          properties:
            avatarType:
              type: string
            avatarUuid:
              type: string
              nullable: true
      required:
        - id
        - slug
        - name
    Issue:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the issue.
        shortId:
          type: string
          description: The short ID for the issue (e.g., PROJECT-123).
        title:
          type: string
          description: The title of the issue.
        culprit:
          type: string
          description: The function or module where the issue originated.
        permalink:
          type: string
          format: uri
        level:
          type: string
          enum:
            - fatal
            - error
            - warning
            - info
            - debug
        status:
          type: string
          enum:
            - resolved
            - unresolved
            - ignored
        platform:
          type: string
        firstSeen:
          type: string
          format: date-time
        lastSeen:
          type: string
          format: date-time
        count:
          type: string
          description: The total number of events for this issue.
        userCount:
          type: integer
          description: The number of unique users affected.
        project:
          $ref: '#/components/schemas/Project'
        type:
          type: string
          enum:
            - error
            - default
        metadata:
          type: object
          properties:
            type:
              type: string
            value:
              type: string
      required:
        - id
        - title
        - status
    Event:
      type: object
      properties:
        eventID:
          type: string
          description: The unique identifier of the event.
        context:
          type: object
          description: Additional context data attached to the event.
        dateCreated:
          type: string
          format: date-time
        dateReceived:
          type: string
          format: date-time
        entries:
          type: array
          items:
            type: object
        message:
          type: string
        title:
          type: string
        platform:
          type: string
        tags:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
        type:
          type: string
        groupID:
          type: string
          description: The issue ID this event belongs to.
      required:
        - eventID
        - dateCreated
    Release:
      type: object
      properties:
        id:
          type: integer
          description: The internal unique identifier.
        version:
          type: string
          description: The version identifier of the release.
        shortVersion:
          type: string
          description: Shortened version for display.
        dateCreated:
          type: string
          format: date-time
        dateReleased:
          type: string
          format: date-time
          nullable: true
        firstEvent:
          type: string
          format: date-time
          nullable: true
        lastEvent:
          type: string
          format: date-time
          nullable: true
        newGroups:
          type: integer
        projects:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              slug:
                type: string
              name:
                type: string
      required:
        - version
        - dateCreated
