openapi: 3.1.0
info:
  title: Sentry Alerts Check-Ins API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Check-Ins
  description: View monitor check-in history
paths:
  /organizations/{organization_id_or_slug}/monitors/{monitor_id_or_slug}/checkins/:
    get:
      operationId: listMonitorCheckIns
      summary: Sentry Retrieve check-ins for a monitor
      description: Returns a list of check-ins for a specific monitor.
      tags:
      - Check-Ins
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/MonitorIdOrSlug'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of check-ins.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckIn'
        '401':
          description: Unauthorized.
        '404':
          description: Monitor not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/monitors/{monitor_id_or_slug}/checkins/:
    get:
      operationId: listMonitorCheckInsForProject
      summary: Sentry Retrieve check-ins for a monitor by project
      description: Returns a list of check-ins for a monitor scoped to a project.
      tags:
      - Check-Ins
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - $ref: '#/components/parameters/MonitorIdOrSlug'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of check-ins.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckIn'
        '401':
          description: Unauthorized.
        '404':
          description: Monitor not found.
components:
  schemas:
    CheckIn:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - ok
          - error
          - in_progress
          - missed
          - timeout
        duration:
          type: integer
          nullable: true
          description: Duration in milliseconds.
        dateCreated:
          type: string
          format: date-time
        environment:
          type: string
      required:
      - id
      - status
      - dateCreated
  parameters:
    MonitorIdOrSlug:
      name: monitor_id_or_slug
      in: path
      required: true
      description: The ID or slug of the monitor.
      schema:
        type: string
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
