openapi: 3.1.0
info:
  title: Sentry Alerts External Teams API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: External Teams
  description: Manage external team mappings
paths:
  /organizations/{organization_id_or_slug}/external-teams/:
    post:
      operationId: createExternalTeam
      summary: Sentry Create an external team
      description: Creates a mapping between a Sentry team and an external service team.
      tags:
      - External Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - externalName
              - provider
              - teamId
              properties:
                externalName:
                  type: string
                  description: The external service team name.
                provider:
                  type: string
                  description: The integration provider.
                teamId:
                  type: integer
                  description: The Sentry team ID.
                integrationId:
                  type: integer
                  description: The integration ID.
      responses:
        '201':
          description: External team created.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /organizations/{organization_id_or_slug}/external-teams/{external_team_id}/:
    put:
      operationId: updateExternalTeam
      summary: Sentry Update an external team
      description: Updates an external team mapping.
      tags:
      - External Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: external_team_id
        in: path
        required: true
        description: The ID of the external team.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalName:
                  type: string
                provider:
                  type: string
      responses:
        '200':
          description: External team updated.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
    delete:
      operationId: deleteExternalTeam
      summary: Sentry Delete an external team
      description: Deletes an external team mapping.
      tags:
      - External Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: external_team_id
        in: path
        required: true
        description: The ID of the external team.
        schema:
          type: string
      responses:
        '204':
          description: External team deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
