openapi: 3.1.0
info:
  title: Sentry Alerts Installations API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Installations
  description: Manage integration installations
paths:
  /organizations/{organization_id_or_slug}/sentry-app-installations/:
    get:
      operationId: listOrganizationInstallations
      summary: Sentry List an organization's Integration Platform installations
      description: Returns a list of Integration Platform installations for the organization.
      tags:
      - Installations
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      responses:
        '200':
          description: A list of installations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Installation'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  schemas:
    Installation:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        app:
          type: object
          properties:
            uuid:
              type: string
              format: uuid
            slug:
              type: string
        organization:
          type: object
          properties:
            slug:
              type: string
        status:
          type: string
        dateCreated:
          type: string
          format: date-time
      required:
      - uuid
      - app
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
