openapi: 3.1.0
info:
  title: Sentry Alerts Issues API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Issues
  description: Manage error issues
paths:
  /organizations/{organization_id_or_slug}/issues/:
    get:
      operationId: listOrganizationIssues
      summary: Sentry List an organization's issues
      description: Returns a list of issues bound to an organization including optional search and filter parameters.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: query
        in: query
        description: An optional Sentry structured search query.
        schema:
          type: string
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
    put:
      operationId: bulkMutateOrganizationIssues
      summary: Sentry Bulk mutate an organization's issues
      description: Bulk mutate various attributes on issues. The list of issues to modify is given through the query string parameters.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: id
        in: query
        description: A list of IDs of the issues to be mutated.
        schema:
          type: array
          items:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - resolved
                  - unresolved
                  - ignored
                  description: The new status for the issues.
                assignedTo:
                  type: string
                  description: The username or team to assign the issues to.
                isPublic:
                  type: boolean
                  description: Whether the issues should be public.
                hasSeen:
                  type: boolean
                  description: Whether the issues have been seen.
                isBookmarked:
                  type: boolean
                  description: Whether the issues should be bookmarked.
      responses:
        '200':
          description: Issues updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
    delete:
      operationId: bulkRemoveOrganizationIssues
      summary: Sentry Bulk remove an organization's issues
      description: Permanently remove the given issues. The list of issues to modify is given through the id query string parameter.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: id
        in: query
        description: A list of IDs of the issues to be removed.
        schema:
          type: array
          items:
            type: integer
      responses:
        '204':
          description: Issues removed successfully.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issues not found.
  /issues/{issue_id}/:
    get:
      operationId: retrieveIssue
      summary: Sentry Retrieve an issue
      description: Returns details for a specific issue.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      responses:
        '200':
          description: Issue details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
    put:
      operationId: updateIssue
      summary: Sentry Update an issue
      description: Updates an individual issue's attributes. Only the attributes submitted are modified.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - resolved
                  - unresolved
                  - ignored
                assignedTo:
                  type: string
                hasSeen:
                  type: boolean
                isBookmarked:
                  type: boolean
                isPublic:
                  type: boolean
      responses:
        '200':
          description: Issue updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue_2'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
    delete:
      operationId: removeIssue
      summary: Sentry Remove an issue
      description: Removes an individual issue.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      responses:
        '202':
          description: Issue scheduled for deletion.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/issues/:
    get:
      operationId: listProjectIssues
      summary: Sentry List a project's issues
      description: Returns a list of issues bound to a project.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: query
        in: query
        description: An optional Sentry structured search query.
        schema:
          type: string
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      - name: statsPeriod
        in: query
        description: An optional stat period.
        schema:
          type: string
      responses:
        '200':
          description: A list of issues.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Issue_2'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Project not found.
    put:
      operationId: bulkMutateProjectIssues
      summary: Sentry Bulk mutate a list of issues
      description: Bulk mutate various attributes on issues for a given project. The list of issues to modify is given through the id query string parameter.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: id
        in: query
        description: A list of IDs of the issues to be mutated.
        schema:
          type: array
          items:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - resolved
                  - unresolved
                  - ignored
                assignedTo:
                  type: string
                isPublic:
                  type: boolean
                hasSeen:
                  type: boolean
                isBookmarked:
                  type: boolean
      responses:
        '200':
          description: Issues updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
    delete:
      operationId: bulkRemoveProjectIssues
      summary: Sentry Bulk remove a list of issues
      description: Permanently remove the given issues from a project. The list of issues to modify is given through the id query string parameter.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: id
        in: query
        description: A list of IDs of the issues to be removed.
        schema:
          type: array
          items:
            type: integer
      responses:
        '204':
          description: Issues removed successfully.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
  /issues/{issue_id}/hashes/:
    get:
      operationId: listIssueHashes
      summary: Sentry List an issue's hashes
      description: Returns a list of hashes (fingerprints) that are assigned to an issue.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of hashes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    latestEvent:
                      $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
  /issues/{issue_id}/tags/{key}/:
    get:
      operationId: retrieveIssueTagDetails
      summary: Sentry Retrieve tag details for an issue
      description: Returns details for a given tag key related to an issue.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      - name: key
        in: path
        required: true
        description: The tag key to look up.
        schema:
          type: string
      responses:
        '200':
          description: Tag details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  name:
                    type: string
                  uniqueValues:
                    type: integer
                  totalValues:
                    type: integer
                  topValues:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                        value:
                          type: string
                        count:
                          type: integer
                        lastSeen:
                          type: string
                          format: date-time
                        firstSeen:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
  /issues/{issue_id}/tags/{key}/values/:
    get:
      operationId: listIssueTagValues
      summary: Sentry List a tag's values for an issue
      description: Returns a list of unique tag values for the given tag key on an issue.
      tags:
      - Issues
      parameters:
      - $ref: '#/components/parameters/IssueId'
      - name: key
        in: path
        required: true
        description: The tag key to look up.
        schema:
          type: string
      responses:
        '200':
          description: A list of tag values.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                    name:
                      type: string
                    value:
                      type: string
                    count:
                      type: integer
                    lastSeen:
                      type: string
                      format: date-time
                    firstSeen:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
components:
  parameters:
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    IssueId:
      name: issue_id
      in: path
      required: true
      description: The ID of the issue.
      schema:
        type: string
  schemas:
    Issue_2:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the issue.
        shortId:
          type: string
          description: The short ID for the issue (e.g., PROJECT-123).
        title:
          type: string
          description: The title of the issue.
        culprit:
          type: string
          description: The function or module where the issue originated.
        permalink:
          type: string
          format: uri
        level:
          type: string
          enum:
          - fatal
          - error
          - warning
          - info
          - debug
        status:
          type: string
          enum:
          - resolved
          - unresolved
          - ignored
        platform:
          type: string
        firstSeen:
          type: string
          format: date-time
        lastSeen:
          type: string
          format: date-time
        count:
          type: string
        userCount:
          type: integer
        type:
          type: string
          enum:
          - error
          - default
        metadata:
          type: object
          properties:
            type:
              type: string
            value:
              type: string
      required:
      - id
      - title
      - status
    Issue:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the issue.
        shortId:
          type: string
          description: The short ID for the issue (e.g., PROJECT-123).
        title:
          type: string
          description: The title of the issue.
        culprit:
          type: string
          description: The function or module where the issue originated.
        permalink:
          type: string
          format: uri
        level:
          type: string
          enum:
          - fatal
          - error
          - warning
          - info
          - debug
        status:
          type: string
          enum:
          - resolved
          - unresolved
          - ignored
        platform:
          type: string
        firstSeen:
          type: string
          format: date-time
        lastSeen:
          type: string
          format: date-time
        count:
          type: string
          description: The total number of events for this issue.
        userCount:
          type: integer
          description: The number of unique users affected.
        project:
          $ref: '#/components/schemas/Project'
        type:
          type: string
          enum:
          - error
          - default
        metadata:
          type: object
          properties:
            type:
              type: string
            value:
              type: string
      required:
      - id
      - title
      - status
    Event:
      type: object
      properties:
        eventID:
          type: string
          description: The unique identifier of the event.
        context:
          type: object
          description: Additional context data attached to the event.
        dateCreated:
          type: string
          format: date-time
        dateReceived:
          type: string
          format: date-time
        entries:
          type: array
          items:
            type: object
        message:
          type: string
        title:
          type: string
        platform:
          type: string
        tags:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
        type:
          type: string
        groupID:
          type: string
          description: The issue ID this event belongs to.
      required:
      - eventID
      - dateCreated
    Project:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the project.
        slug:
          type: string
          description: The URL-friendly slug of the project.
        name:
          type: string
          description: The human-readable name of the project.
        platform:
          type: string
          nullable: true
          description: The platform identifier (e.g., python, javascript).
        dateCreated:
          type: string
          format: date-time
          description: When the project was created.
        isBookmarked:
          type: boolean
        isMember:
          type: boolean
        features:
          type: array
          items:
            type: string
        firstEvent:
          type: string
          format: date-time
          nullable: true
        firstTransactionEvent:
          type: boolean
        hasAccess:
          type: boolean
        organization:
          $ref: '#/components/schemas/Organization'
      required:
      - id
      - slug
      - name
    Organization:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the organization.
        slug:
          type: string
          description: The URL-friendly slug of the organization.
        name:
          type: string
          description: The human-readable name of the organization.
        dateCreated:
          type: string
          format: date-time
          description: When the organization was created.
        status:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        isEarlyAdopter:
          type: boolean
          description: Whether the organization is an early adopter.
        avatar:
          type: object
          properties:
            avatarType:
              type: string
            avatarUuid:
              type: string
              nullable: true
      required:
      - id
      - slug
      - name
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
