openapi: 3.1.0
info:
  title: Sentry Alerts Sessions API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Sessions
  description: Retrieve release health session statistics
paths:
  /organizations/{organization_id_or_slug}/sessions/:
    get:
      operationId: retrieveReleaseHealthSessions
      summary: Sentry Retrieve release health session statistics
      description: Returns release health session statistics for an organization.
      tags:
      - Sessions
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: field
        in: query
        required: true
        description: The session field to query (e.g., sum(session), count_unique(user)).
        schema:
          type: string
      - name: statsPeriod
        in: query
        description: Stats period (e.g., 24h, 14d).
        schema:
          type: string
      - name: project
        in: query
        description: Project IDs to filter by.
        schema:
          type: array
          items:
            type: integer
      - name: environment
        in: query
        description: Environment name to filter by.
        schema:
          type: string
      responses:
        '200':
          description: Session statistics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      type: object
                      properties:
                        by:
                          type: object
                        totals:
                          type: object
                        series:
                          type: object
                  start:
                    type: string
                    format: date-time
                  end:
                    type: string
                    format: date-time
                  intervals:
                    type: array
                    items:
                      type: string
                      format: date-time
        '401':
          description: Unauthorized.
        '400':
          description: Bad request.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
