openapi: 3.1.0
info:
  title: Sentry Alerts External Issues API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: External Issues
  description: Manage external issue links
paths:
  /sentry-app-installations/{uuid}/external-issues/:
    post:
      operationId: createExternalIssue
      summary: Sentry Create or update an external issue
      description: Creates or updates a link between a Sentry issue and an external issue.
      tags:
      - External Issues
      parameters:
      - name: uuid
        in: path
        required: true
        description: The UUID of the installation.
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - issueId
              - webUrl
              - project
              - identifier
              properties:
                issueId:
                  type: integer
                  description: The Sentry issue ID to link.
                webUrl:
                  type: string
                  format: uri
                  description: The URL of the external issue.
                project:
                  type: string
                  description: The project identifier on the external service.
                identifier:
                  type: string
                  description: The identifier for the external issue.
                label:
                  type: string
                  description: Display label for the link.
      responses:
        '200':
          description: External issue created or updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIssue'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
  /sentry-app-installations/{uuid}/external-issues/{external_issue_id}/:
    delete:
      operationId: deleteExternalIssue
      summary: Sentry Delete an external issue
      description: Removes a link between a Sentry issue and an external issue.
      tags:
      - External Issues
      parameters:
      - name: uuid
        in: path
        required: true
        description: The UUID of the installation.
        schema:
          type: string
          format: uuid
      - name: external_issue_id
        in: path
        required: true
        description: The ID of the external issue link.
        schema:
          type: string
      responses:
        '204':
          description: External issue link deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.
  /groups/{issue_id}/external-issues/:
    get:
      operationId: listIssueExternalLinks
      summary: Retrieve custom integration issue links for a Sentry issue
      description: Returns a list of external issue links for a given Sentry issue.
      tags:
      - External Issues
      parameters:
      - name: issue_id
        in: path
        required: true
        description: The ID of the Sentry issue.
        schema:
          type: string
      responses:
        '200':
          description: A list of external issue links.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalIssue'
        '401':
          description: Unauthorized.
        '404':
          description: Issue not found.
components:
  schemas:
    ExternalIssue:
      type: object
      properties:
        id:
          type: string
        issueId:
          type: integer
        serviceType:
          type: string
        displayName:
          type: string
        webUrl:
          type: string
          format: uri
      required:
      - id
      - issueId
      - webUrl
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
