openapi: 3.2.0
info:
  title: Sentry Projects Debug Files API
  description: The Projects API provides endpoints for managing Sentry projects, including creating, retrieving, updating, and deleting projects, as well as managing client keys, debug files, service hooks, filters, and user feedback.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Debug Files
  description: Manage debug information files
paths:
  /projects/{organization_id_or_slug}/{project_id_or_slug}/files/dsyms/:
    get:
      operationId: listProjectDebugFiles
      summary: Sentry List a project's debug information files
      description: Returns a list of debug information files for a given project.
      tags:
      - Debug Files
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      responses:
        '200':
          description: A list of debug files.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DebugFile'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
components:
  schemas:
    DebugFile:
      type: object
      properties:
        id:
          type: string
        debugId:
          type: string
        cpuName:
          type: string
        objectName:
          type: string
        symbolType:
          type: string
        size:
          type: integer
        dateCreated:
          type: string
          format: date-time
        data:
          type: object
      required:
      - id
  parameters:
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
