openapi: 3.1.0
info:
  title: Sentry Alerts SCIM Teams API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: SCIM Teams
  description: Provision and manage teams via SCIM
paths:
  /organizations/{organization_id_or_slug}/scim/v2/Groups:
    get:
      operationId: listScimTeams
      summary: Sentry List an organization's paginated teams
      description: Returns a paginated list of teams using the SCIM protocol.
      tags:
      - SCIM Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - name: startIndex
        in: query
        description: SCIM 1-indexed starting result number.
        schema:
          type: integer
      - name: count
        in: query
        description: Maximum number of results.
        schema:
          type: integer
      - name: filter
        in: query
        description: SCIM filter expression.
        schema:
          type: string
      responses:
        '200':
          description: A SCIM list response of teams.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimListResponse'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
    post:
      operationId: provisionScimTeam
      summary: Sentry Provision a new team
      description: Creates a new team via SCIM provisioning.
      tags:
      - SCIM Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - schemas
              - displayName
              properties:
                schemas:
                  type: array
                  items:
                    type: string
                displayName:
                  type: string
                  description: The name of the team.
                members:
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                      display:
                        type: string
      responses:
        '201':
          description: Team provisioned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '409':
          description: Team already exists.
  /organizations/{organization_id_or_slug}/scim/v2/Groups/{scim_group_id}:
    get:
      operationId: queryScimTeam
      summary: Sentry Query an individual team
      description: Returns a specific team using the SCIM protocol.
      tags:
      - SCIM Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ScimGroupId'
      responses:
        '200':
          description: SCIM team details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
    patch:
      operationId: updateScimTeam
      summary: Sentry Update a team's attributes
      description: Updates team attributes via SCIM, including managing members.
      tags:
      - SCIM Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ScimGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - schemas
              - Operations
              properties:
                schemas:
                  type: array
                  items:
                    type: string
                Operations:
                  type: array
                  items:
                    type: object
                    properties:
                      op:
                        type: string
                        enum:
                        - replace
                        - add
                        - remove
                      path:
                        type: string
                      value:
                        type: object
      responses:
        '204':
          description: Team updated.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
    delete:
      operationId: deleteScimTeam
      summary: Sentry Delete an individual team
      description: Deletes a team via SCIM.
      tags:
      - SCIM Teams
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ScimGroupId'
      responses:
        '204':
          description: Team deleted.
        '401':
          description: Unauthorized.
        '404':
          description: Team not found.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    ScimGroupId:
      name: scim_group_id
      in: path
      required: true
      description: The SCIM group (team) ID.
      schema:
        type: string
  schemas:
    ScimGroup:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
        id:
          type: string
        displayName:
          type: string
        members:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              display:
                type: string
        meta:
          type: object
          properties:
            resourceType:
              type: string
      required:
      - id
      - displayName
    ScimListResponse:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
        totalResults:
          type: integer
        startIndex:
          type: integer
        itemsPerPage:
          type: integer
        Resources:
          type: array
          items:
            type: object
      required:
      - schemas
      - totalResults
      - Resources
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
