openapi: 3.2.0
info:
  title: Sentry Crons Check Ins API
  description: The Crons API provides endpoints for managing cron job monitors in Sentry, including creating, retrieving, updating, and deleting monitors, managing monitor environments, and retrieving check-in history for tracked scheduled tasks.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Check Ins
  description: View monitor check-in history
paths:
  /organizations/{organization_id_or_slug}/monitors/{monitor_id_or_slug}/checkins/:
    get:
      operationId: listMonitorCheckIns
      summary: Sentry Retrieve check-ins for a monitor
      description: Returns a list of check-ins for a specific monitor.
      tags:
      - Check Ins
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/MonitorIdOrSlug'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of check-ins.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckIn'
        '401':
          description: Unauthorized.
        '404':
          description: Monitor not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/monitors/{monitor_id_or_slug}/checkins/:
    get:
      operationId: listMonitorCheckInsForProject
      summary: Sentry Retrieve check-ins for a monitor by project
      description: Returns a list of check-ins for a monitor scoped to a project.
      tags:
      - Check Ins
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - $ref: '#/components/parameters/MonitorIdOrSlug'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      responses:
        '200':
          description: A list of check-ins.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CheckIn'
        '401':
          description: Unauthorized.
        '404':
          description: Monitor not found.
components:
  parameters:
    MonitorIdOrSlug:
      name: monitor_id_or_slug
      in: path
      required: true
      description: The ID or slug of the monitor.
      schema:
        type: string
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
  schemas:
    CheckIn:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - ok
          - error
          - in_progress
          - missed
          - timeout
        duration:
          type: integer
          nullable: true
          description: Duration in milliseconds.
        dateCreated:
          type: string
          format: date-time
        environment:
          type: string
      required:
      - id
      - status
      - dateCreated
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
