openapi: 3.1.0
info:
  title: Sentry Alerts Events API
  description: The Alerts API provides endpoints for managing alert rules in Sentry, including creating, retrieving, updating, and deleting metric alert rules and issue alert rules, as well as managing spike protection notification actions.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
- url: https://sentry.io/api/0
  description: Sentry Production API
security:
- BearerAuth: []
tags:
- name: Events
  description: Access and manage error and transaction events
paths:
  /issues/{issue_id}/events/:
    get:
      operationId: listIssueEvents
      summary: Sentry List an issue's events
      description: Returns a list of events bound to an issue.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/IssueId'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      - name: full
        in: query
        description: If true, the event payload will include the full event body.
        schema:
          type: boolean
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Issue not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/events/:
    get:
      operationId: listProjectEvents
      summary: Sentry List a project's error events
      description: Returns a list of events bound to a project.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: cursor
        in: query
        description: Pagination cursor.
        schema:
          type: string
      - name: full
        in: query
        description: If true, include full event body.
        schema:
          type: boolean
      responses:
        '200':
          description: A list of events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Project not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/events/{event_id}/:
    get:
      operationId: retrieveProjectEvent
      summary: Sentry Retrieve an event for a project
      description: Returns a specific event bound to a project.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: event_id
        in: path
        required: true
        description: The ID of the event to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Event not found.
  /issues/{issue_id}/events/{event_id}/:
    get:
      operationId: retrieveIssueEvent
      summary: Sentry Retrieve an issue event
      description: Returns a specific event bound to an issue.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/IssueId'
      - name: event_id
        in: path
        required: true
        description: The ID of the event to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Event not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/events/{event_id}/source-map-debug/:
    get:
      operationId: debugSourceMaps
      summary: Sentry Debug issues related to source maps for a given event
      description: Returns information about source map processing for a specific event, helping to troubleshoot source map issues.
      tags:
      - Events
      parameters:
      - $ref: '#/components/parameters/OrganizationIdOrSlug'
      - $ref: '#/components/parameters/ProjectIdOrSlug'
      - name: event_id
        in: path
        required: true
        description: The ID of the event to debug.
        schema:
          type: string
      responses:
        '200':
          description: Source map debug information.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized.
        '404':
          description: Event not found.
components:
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    IssueId:
      name: issue_id
      in: path
      required: true
      description: The ID of the issue.
      schema:
        type: string
  schemas:
    Event:
      type: object
      properties:
        eventID:
          type: string
          description: The unique identifier of the event.
        context:
          type: object
          description: Additional context data attached to the event.
        dateCreated:
          type: string
          format: date-time
        dateReceived:
          type: string
          format: date-time
        entries:
          type: array
          items:
            type: object
        message:
          type: string
        title:
          type: string
        platform:
          type: string
        tags:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
        type:
          type: string
        groupID:
          type: string
          description: The issue ID this event belongs to.
      required:
      - eventID
      - dateCreated
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
