openapi: 3.1.0
info:
  title: Sentry Mobile Builds API
  description: >-
    The Mobile Builds API provides endpoints for analyzing mobile application
    artifacts in Sentry, including retrieving install information and size
    analysis results for mobile build artifacts.
  version: 0.0.1
  contact:
    name: Sentry Support
    url: https://sentry.io/support/
    email: support@sentry.io
servers:
  - url: https://sentry.io/api/0
    description: Sentry Production API
security:
  - BearerAuth: []
tags:
  - name: Mobile Builds
    description: Analyze mobile application build artifacts
paths:
  /projects/{organization_id_or_slug}/{project_id_or_slug}/artifact-bundles/{bundle_id}/install-info/:
    get:
      operationId: retrieveArtifactInstallInfo
      summary: Sentry Retrieve install info for a given artifact
      description: >-
        Returns installation information for a specific mobile build artifact,
        including installation URLs and QR code data.
      tags:
        - Mobile Builds
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - $ref: '#/components/parameters/ProjectIdOrSlug'
        - $ref: '#/components/parameters/BundleId'
      responses:
        '200':
          description: Artifact install information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: The installation URL for the artifact.
                  bundleId:
                    type: string
                    description: The bundle identifier of the artifact.
                  version:
                    type: string
                    description: The version of the artifact.
                  buildNumber:
                    type: string
                    description: The build number.
        '401':
          description: Unauthorized.
        '404':
          description: Artifact not found.
  /projects/{organization_id_or_slug}/{project_id_or_slug}/artifact-bundles/{bundle_id}/size-analysis/:
    get:
      operationId: retrieveArtifactSizeAnalysis
      summary: Sentry Retrieve size analysis results for a given artifact
      description: >-
        Returns size analysis data for a specific mobile build artifact,
        including breakdown by component and asset type.
      tags:
        - Mobile Builds
      parameters:
        - $ref: '#/components/parameters/OrganizationIdOrSlug'
        - $ref: '#/components/parameters/ProjectIdOrSlug'
        - $ref: '#/components/parameters/BundleId'
      responses:
        '200':
          description: Size analysis results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalSize:
                    type: integer
                    description: Total size in bytes.
                  downloadSize:
                    type: integer
                    description: Estimated download size in bytes.
                  components:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        size:
                          type: integer
                        type:
                          type: string
        '401':
          description: Unauthorized.
        '404':
          description: Artifact not found.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Authentication token for the Sentry API.
  parameters:
    OrganizationIdOrSlug:
      name: organization_id_or_slug
      in: path
      required: true
      description: The ID or slug of the organization.
      schema:
        type: string
    ProjectIdOrSlug:
      name: project_id_or_slug
      in: path
      required: true
      description: The ID or slug of the project.
      schema:
        type: string
    BundleId:
      name: bundle_id
      in: path
      required: true
      description: The ID of the artifact bundle.
      schema:
        type: string
